.container-banner{
    height: 100px;
    padding: 10px;
    background-color: #2F4F4F	;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-banner h1{
    text-align: center;
    font-size: 40px;
    
}

.glitch{
    position: relative;
    display: inline-block;
    animation: glitch 1s infinite;
}
@keyframes glitch {
    0%{transform: translate(0);}
    25%{transform: translate(-2px,-2px);}
    50%{
        transform: translate(2px,-2px);
    }
    75%{transform: translate(-2px,2px);}
    100%{transform: translate(0);}
}